.navColor {
    background-color: rgb(56, 189, 111);
    /* position: fixed;
    width: 100%; */
}
.nav-link, .navbar-brand,.btn-light {
    color: white;
}

.nav-link {
    text-transform: uppercase;
}

.navbar-brand, span {
    font-weight: bold;
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
    color: #333;;
}

.btn-light {
    background-color: transparent;
    font-weight: bold;
    border-width: 2px;
}

