<nav class="navbar navbar-expand-lg navColor">
  <a class="navbar-brand" href="#">
    <fa-icon [icon]="faStarOfLife"></fa-icon> <span>BEKY </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/patients">Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">Contact Us</a>
      </li>
    </ul>

     <button *ngIf="authService.isLoggedIn" class="btn btn-light my-2 my-sm-0" type="submit" (click)="logged(loggedIn)" routerLink="/home">Log Out</button>
    <button *ngIf="!authService.isLoggedIn" class="btn btn-light my-2 my-sm-0" type="submit"  (click)="logged(loggedIn)" routerLink="/login">Log In</button>

    <!-- <button *ngIf="loggedIn" class="btn btn-light my-2 my-sm-0" type="submit" (click)="logged(loggedIn)" routerLink="/home">Log Out</button>
    <button *ngIf="!loggedIn" class="btn btn-light my-2 my-sm-0" type="submit" (click) = "logged(loggedIn)" routerLink="/login">Log In</button> -->
  </div>
</nav>