<footer class="footer">
		
    <div class="container">
    
        <div class="row">
        
            <div class="col-md-6">
            
                <div id="copyright">
                
                    <p> Copyright &copy; 2020 <a href="#"> - BEKY </a> </p>
                
                </div>
            
            </div>
            
            <div class="col-md-6">
            
                <div class="scroll-top">
                    
                    <a  id="scroll-to-top" routerLinkActive="active" routerLink="/home" > <fa-icon [icon]="faAngleUp"></fa-icon> </a>
                    
                </div>
                    
            </div>
        
        </div>	
    
    </div>
    
</footer>