<div class="displayTable">
  <div class="displayTableCell">

    <div class="container-login100">
      <div class="wrap-login100">

        <div class="login100-form-title" style="background-image: url(../../assets/images/medial.png);">
          <span class="login100-form-title-1"> Reset Password </span>
        </div>
        <form class="form">
          <div class="authBlock">
            <!-- <h3>Reset Password</h3> -->

            <p class="please">Please enter your email address to request a password reset.</p>

            <div class="wrap-input100">

              <div class="formGroup ">
                <span class="label-input100" id="label-email">EMAIL</span>
                <input type="email" class="formControl input100" placeholder="Enter email" #passwordResetEmail required>
                <span class="focus-input100"></span>
              </div>

            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="container-login100-form-btn">
              <div class="formGroup custom-btn">
                <button type="button" class="btn login100-form-btn custom-btn " value="Reset Password"
                  (click)="authService.ForgotPassword(passwordResetEmail.value)"> Reset Password </button>
              </div>

              <div class="redirectToLogin">
                <span>Go back to <a class="redirect" routerLink="/sign-in">Log In Page </a> ? </span>
              </div>
            </div>


          </div>
        </form>
      </div>
    </div>

  </div>
</div>