<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="../../assets/images/about1.jpg" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="../../assets/images/about2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Welcome to BEKY</h2>
                    <h3 class="care"> Best Care For You And Your Family</h3>
                    <p> BEKY, because we care.
                    </p>

                    <div class="choose-us-description">


                        <div class="choose-us-item">

                            <div class="ico">
                                <fa-icon [icon]="faHeartbeat"></fa-icon>
                            </div>
                            <h3> Live Tracking </h3>
                            <p> Keeps track of your vitals and keeps an eye on you or your loved ones.</p>

                        </div>


                        <div class="choose-us-item">
                            <div class="ico">
                                <fa-icon [icon]="faCommentMedical"></fa-icon>
                            </div>
                            <h3> Safe and Secure </h3>
                            <p> Your information remains private and can only be accessed by your doctor. </p>

                        </div>

                        <div class="choose-us-item">
                            <div class="ico">
                                <fa-icon [icon]="faAmbulance"></fa-icon>
                            </div>
                            <h3> Alert </h3>
                            <p> In critical cases, we assist you in the best way we can and send alerts to your doctor. </p>

                        </div>
                    </div>
                </div>
                <button routerLink="/contact-us" class="btn btn-light my-2 my-sm-0">Contact Our Team</button>
            </div>
        </div>
    </div>
</div>


