div, a,.list-group-item {
    position: relative;
	color: #333;
	font-size: 20px;
    font-weight: 500;
    background-color: whitesmoke;
}
.patient {
    background-color: whitesmoke;
}

.patient:active, .patient:hover {
    background-color: rgb(56, 189, 111);
    border-color: rgb(56, 189, 111);
    color: white;
}

#center {
    width : 60%;
}
