.menu {
    /* margin-top: 20px;
    width: 100%;
    color: white; */

    margin-bottom: 10px;
}

div {
    width: 100%;
}

div > p {
    margin-top: 10px;
	font-size: 19px;
	line-height: 24px;
}

.test {
    margin-left: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.btn {
    /* background-color: transparent;
    border-color: transparent; */
    /* color: #1a1a1a; */
    /* background-color: #2e2d2d; */
    color: white;
    /* font-weight: bold; */
}

