<div class="container card">
    <div class="row display">
        <div class="col-md-4">
            <div class="icon">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
        </div>
        <div class="col-md-8">
            <p class="box"> <span class="label"> First Name: </span> {{ info.fname }} </p>
            <p class="box"> <span class="label"> Last Name: </span> {{ info.lname }} </p>
            <p class="box"> <span class="label"> Gender: </span> {{ info.gender }} </p>
            <p class="box"> <span class="label"> Date Of Birth: </span> {{ info.birthdate }} </p>
        </div>
    </div>
</div>