<div class="displayTable">
  <div class="displayTableCell">

    <div class="container-login100">
      <div class="wrap-login100">



        <div class="login100-form-title" style="background-image: url(../../assets/images/medial.png);">
          <span class="login100-form-title-1"> Sign In </span>
        </div>
        <form class="form">
          <div class="authBlock">

            <div class="wrap-input100">

              <div class="formGroup ">
                <span class="label-input100" id="label-email">Email</span>
                <input type="text" class="formControl input100" placeholder="Enter email" #userName required>
                <span class="focus-input100"></span>
              </div>

            </div>

            <div class="wrap-input100">

              <div class="formGroup">
                <span class="label-input100" id="label-pass">Password</span>
                <input type="password" class="formControl input100" placeholder="Enter password" #userPassword required>
                <span class="focus-input100"></span>
              </div>

            </div>

            <div class="forgotPassword">
              <a routerLink="/forgot-password" class="txt1"> Forgot Password?</a>
            </div>
          </div>


          <div class="container-login100-form-btn">
            <div class="formGroup custom-btn">
              <button type="button" class="btn login100-form-btn custom-btn " value="Login"
                (click)="authService.SignIn(userName.value, userPassword.value)"> Login </button>
            </div>

            <!-- <p id="or"> OR </p> -->

            <div class="formGroup custom-btn">
              <button type="button" class="btn login100-form-btn custom-btn google-btn " (click)="authService.GoogleAuth()">
                Login with Google
              </button>
            </div>
          </div>

        </form>
        <!-- <div class="redirectToLogin">
          <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
        </div> -->


      </div>
    </div>
  </div>
</div>