<div class="container ">

    <div *ngIf='condition' class="row list">

        <div class="col-md-6">
            <p class="vitals-title"> Date Taken</p>
            <p class="vitals"> {{latestData.date}} </p>

            <p class="vitals-title"> Heart Rate</p>
            <p class="vitals"> {{latestData.heartrate}} </p>

            <p class="vitals-title"> Condition </p>
            <p class="vitals" *ngIf="latestData.critical==0"> Healthy </p>
            <p class="vitals" *ngIf="latestData.critical==1"> Critical </p>

            <p class="vitals-title"> Location </p>
            <p class="vitals"> {{latestData.location}} </p>
        </div>
        <div class="col-md-6">
            <p class="vitals-title"> Fall </p>
            <p class="vitals" *ngIf="latestData.fall==0"> No Fall Detected </p>
            <p class="vitals" *ngIf="latestData.fall==1"> Fall Detected </p>

            <p class="vitals-title"> Glucose Level</p>
            <p class="vitals"> {{latestData.glucose}} </p>
        </div>
    </div>
</div>

<div class="container ">
    <div *ngIf='condition' class="row">

        <app-graph [patientData]='healthData'> </app-graph>

    </div>
</div>