.vitals-container {
	background-color: whitesmoke;
}

.vitals-title {
    position: relative;
	font-size: 14px; 
	/* ou 12px */
	color: grey;
}

.vitals-value {
	position: relative;
	padding-bottom: 4px;
    font-size: 24px;
	text-align: left;
	font-weight: 700;
}

.vitals-unit {
	font-size: 12px;
	color: grey;
	font-weight: lighter;
}

.vitals {
	border-radius: 6px;
	background-color: white;
	border: none;
	color: black;
	padding: 10px 32px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	transition-duration: 0.4s;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 5px;
	margin-left: 5px;
	width: 70%;
}

.left {
	margin-left: 170px;
}

.right {
	margin-right: 70px;
}

/* .top.left {
	margin-top: 50px;
}

.bottom.left {
	margin-bottom: 50px;
}

.top.right {
	margin-top: 50px;
}

.bottom.right {
	margin-bottom: 50px;
} */

.vitals > p {
	margin-left: 30px;
	margin-top: 10px;
}

.vitals:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.icon {
	font-size: 20px;
	margin-right: 10px;
}

#date {
	color: rgb(165, 97, 165);
}

#heart {
	color: lightcoral;
}

#glucose {
	color: rgb(50, 205, 128)
}

#blood {
	color: rgb(241, 78, 50);
}

#condition {
	color: lightseagreen;
}

#fall {
	color: rgb(255, 242, 67);
}

#location {
	color: rgb(38, 174, 219);
}

#temperature {
	color: rgb(240, 168, 75);
}