<div class="row test">

    <p> Please choose the information you want to display for patient {{patient.fname}} {{patient.lname}} </p>

    <div class="btn-group menu" role="group">

        <button (click)='goToItem("info")' type="button" class="btn btn-secondary">Detail</button>
        <button (click)='goToItem("vitals")' type="button" class="btn btn-secondary">Vitals</button>
        <button (click)='goToItem("graph")' type="button" class="btn btn-secondary">Graph</button>
        <button (click)='goToItem("history")' type="button" class="btn btn-secondary">History</button>
        <button (click)='goToItem("notes")' type="button" class="btn btn-secondary">Notes</button>


        <!-- <button [routerLink]="['vitals']" [state]="[latestVitals]" type="button" class="btn btn-secondary">Vitals</button>
    <button [routerLink]="['graph']" [state]="[healthData]" type="button" class="btn btn-secondary">Graph</button>
    <button [routerLink]="['notes']" [state]="[patient]" type="button" class="btn btn-secondary">Notes</button> -->

        <!--     
    <button [routerLink]="['vitals']"  type="button" class="btn btn-secondary">Vitals</button>
    <button [routerLink]="['graph']" type="button" class="btn btn-secondary">Graph</button>
    <button [routerLink]="['notes']"  type="button" class="btn btn-secondary">Notes</button> -->
    </div>
</div>
<div>

    <!-- <router-outlet name="outletmenu"> </router-outlet> -->
    <router-outlet> </router-outlet>

</div>