.bg {
    background-image: url(../../assets/images/dr.png);
    /* width: 100%;
    overflow: visible; */
    width: 1349px;
    overflow: visible;
    margin-left: -120px;
    /* height: 800px; */
}

.slider_text {
    margin-left: 50px;
}

.slider_area .single_slider {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider_area .single_slider .slider_text h3 {
    color: #1F1F1F;
    /* font-family: "Poppins", sans-serif; */
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 300;
}

.slider_area .single_slider .slider_text h3 span {
    font-weight: 700;
}

.slider_area .single_slider .slider_text p {
    font-size: 18px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 40px;
    margin-top: 10px;
}


.btn-light {
    background-color: rgb(56, 189, 111);
    color: white;
    border-width: 2px;
}
.btn-light:hover {
    background-color: rgba(179, 176, 176, 0.781);
    color: #343434;
    font-weight: bold;
    border-width: 2px;
}