<div class="slider_area">
    <div class="single_slider  d-flex align-items-center bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider_text ">
                        <h3> <span>Smart Health Care</span> <br>
                            For The Whole Family </h3>
                        <p>Smart, high-tech equipment that facilitates your day-to-day life. <br> BEKY, the Smart Healthcare Monitor 
                          to have.</p>
                        <button routerLink="/contact-us" class="btn btn-light my-2 my-sm-0">Contact Our Team</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>