<div class="home">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-md-offset-1">

                <div class="about-us-title">

                    <h2> About Us </h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae
                        sodales purus. Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum.
                    </p>

                </div>

            </div>



        </div>

    </div>



    <div class="choose-us">

        <div class="container">

            <div class="row">

                <div class="col-md-6">
                    <!-- insert image here -->
                    <div class="about-iphone">

                        <img class="img-responsive"
                            src="https://dcassetcdn.com/design_img/962900/126246/126246_5439956_962900_image.jpg">

                    </div>


                </div>

                <div class="col-md-6">

                    <div class="choose-us-title">

                        <h2> Why Choose Us? </h2>
                        <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            Quisque lacus dui, interdum sit amet varius. </p>


                    </div>

                    <div class="choose-us-description">


                        <div class="choose-us-item">

                            <div class="ico">
                                <fa-icon [icon]="faHeartbeat"></fa-icon>
                            </div>
                            <h3> QUISQUE LACUS DUI </h3>
                            <p> Lipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                mus. Quisque lacus dui, interdum sit amet varius a, cursus sit amet sapien. Donec eu
                                placerat nisi. </p>

                        </div>


                        <div class="choose-us-item">
                            <div class="ico">
                                <fa-icon [icon]="faCommentMedical"></fa-icon>
                            </div>
                            <h3> DONEC EU PLACERAT NISI </h3>
                            <p> Diso Lipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Quisque lacus dui, interdum sit amet varius a, cursus sit amet sapien.
                                Donec eu placerat nisi. </p>

                        </div>

                        <div class="choose-us-item">
                            <div class="ico">
                                <fa-icon [icon]="faAmbulance"></fa-icon>
                            </div>
                            <h3> PERSPICIATIS UNDE OMNIS </h3>
                            <p> Sed ut perspiciatis Cupidatat non proident, sunt in culpa qui officia deserunt mollit
                                anim id est laborum.unde omnis iste natus error sit. </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>